<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io Chat</title>
</head>
<body>
    <button title="s" id="start">Start</button>
    <button title="s" id="logout">Logout</button>

    <div id="qrcode">

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(function () {
            const socket = io();
            socket.on('messages.upsert', function(msg){
                console.log(msg)
            });
            $('#start').click(() => {
                socket.emit('start')
            })
            $('#logout').click(() => {
                socket.emit('logout')
            })

            socket.on('connected', (e) => {
                console.log('Connected', e)
            })
            socket.on('disconnect', (e) => console.log('disconnect', e))
            socket.on('qrcode', (e) => {
                $('#qrcode').html($('<img>').attr('src', `https://api.qrserver.com/v1/create-qr-code/?size=500x500&data=${e.qr}`))
            })
        })
    </script>
</body>
</html>
